.hero {
    &.is-large {

        .hero-body {
            padding: 1rem 0;
            h1 {
                font-size: 50px;
                color: white;
                line-height: 0.8;
                font-weight: 900;
                letter-spacing: 1px;
                text-shadow: $text-shadow;
            }

            h5 {
                text-shadow: $text-shadow;
            }

            @include from($tablet) {
                h1 {
                    font-size: 150px;
                }
            }
        }
    }
}
