.seperator {

    & > div {
        height: 100%;
        width: 0.5rem;
        background: red;
    }
}

.block-message {
    & > div:first-child {
        position: relative;

        &:after {
            content: "";
            width: 5px;
            position: absolute;
            height: 100%;
            right: 0;
            top: 0;
            background-color: $grey-dark;
        }
    }
}

.message {
    max-width: 800px;

    .message-text {
        padding: 2rem;

        .button {
            margin-top: 2rem;
        }
    }

    p {
        margin-bottom: 0;
    }

    @include until($tablet) {
        img {
            display: block;
            margin: auto;
        }
    }

    & > article > .column {
        padding: 1rem;

        @include from($tablet) {
            padding: 1rem 2rem;
        }
        @include from($desktop) {
            padding: 1rem 3rem;
        }

        &.message-label {
            @include from($tablet) {
            }

            h1 {
                text-transform: uppercase;
            }
        }
    }
}
