

    & > div:first-child {

        &:before {
            content: "";
            display: block;
            height: 100%;
            width: 0.5rem;
            background: $grey-dark;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

.seperator {
    height: 100%;
    width: 10px;
    background: red;
}

.message {

    p {
        margin-bottom: 0;
    }

    @include until($tablet) {
        img {
            display: block;
            margin: auto;
        }
    }

    .message-even {
        .message-label {
            position: relative;

            @include from($tablet) {
                text-align: right;

            }
        }
        .message-text {
            @include from($tablet) {
                text-align: justify;
            }
        }
    }
    .message-odd {
        .message-label {
            order: 3;
            position: relative;
            @include from($tablet) {
                text-align: left;
            }
        }
        .seperator {
            order: 2;
        }
        .message-text {
            order: 1;
            position: relative;
            @include from($tablet) {
                text-align: justify;
            }
        }
    }

    & > article > .column {
        padding: 1rem;

        @include from($tablet) {
            padding: 1rem 2rem;
        }
        @include from($desktop) {
            padding: 1rem 3rem;
        }

        &.message-label {
            @include from($tablet) {
            }

            h1 {
                text-transform: uppercase;
            }
        }
    }
}
