$S:     480px;
$M:     768px;
$L:     1170px;

// media queries
$prefix-for-webkit: '-webkit-';
$prefix-for-mozilla: '-moz-';
$prefix-for-microsoft: '-ms-';
$prefix-for-opera: '-o-';
$prefix-for-spec: '-webkit- ';

// intro height
$intro-height-S: 450px;
$intro-height-M: 500px;
$intro-height-L: 500px;

$slider-nav-height: 80px;
$slider-nav-width-vertical: 200px;


/* --------------------------------

Slider

-------------------------------- */

.hero-slider.cd-hero {
	position: relative;
	@include font-smoothing;

	@include from($tablet) {
		margin-bottom: 15rem;
	}

	&.vertical {
		@include from($tablet) {
			margin-bottom: 0rem;
		}

		.cd-hero-slider {
			@include from($tablet) {
				margin-left: $slider-nav-width-vertical;
			}
		}
	}

	.cd-hero-slider {
		position: relative;
		height: $intro-height-S;
		overflow: hidden;

		& > li {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@include transform(translateX(100%));

			&.selected {
				/* this is the visible slide */
				position: relative;
				@include transform(translateX(0));
			}

			&.move-left {
				/* slide hidden on the left */
				@include transform(translateX(-100%));
			}

			&.is-moving,
			&.selected {
				/* the is-moving class is assigned to the slide which is moving outside the viewport */
				@include transition(transform .5s);
			}
		}

		@include MQ(M) {
			height: $intro-height-M;
		}

		@include MQ(L) {
			height: $intro-height-L;
		}
	}

	/* --------------------------------

	Single slide style

	-------------------------------- */

	.cd-hero-slider {

		& > li {
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
		}

		.cd-full-width {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 1;
			left: 0;
			top: 0;
	        display: flex;
	        flex-direction: column;
	        align-items: center;
	        justify-content: center;

			/* Force Hardware Acceleration in WebKit */
			@include backface-visibility(hidden);
			@include transform(translateZ(0));

			.slide-bg-title {
				display: none;
			}

			@include MQ(M) {
				.slide-bg-title {
					position: absolute;
					display: block;
					top: 130px;
					right: 300px;
					font-size: 260px;
					font-weight: bold;
					text-transform: uppercase;
					max-width: 400px;
					line-height: 0.8;
					letter-spacing: -2px;
					font-family: 'Roboto Condensed';
					text-align: right;
					color: transparentize(white, .95);
				}
			}
		}

	    h2 {
	        font-size: 3rem;
			line-height: 0.9;
			margin: 0 auto;

	        @include from($tablet) {
		        font-size: 6rem;
				line-height: 1.2;
		    }
		}

		p {
			line-height: 1.2;
			margin: 0 auto 14px;
		}

		ul {
			line-height: 1.2;
			margin: 0 auto 14px;
		}

		.text-wrapper {
			text-shadow: 0 1px 3px rgba(#000, .1);
			color: white;
			width: 90%;
			max-width: 720px;

			h2 {
				margin-bottom: 2rem;
			}

			ul, ol {
				list-style: square;
			    padding-left: 20px;
			}
		}

		@include MQ(M) {

			li:nth-of-type(2) {
			 	background-image: none;
			}

			li:nth-of-type(3) {
			 	background-image: none;
			}

			li:nth-of-type(4) {
			 	background-image: none;
			}

			.cd-bg-video-wrapper {
				display: block;
			}

			.text-wrapper {
				max-width: 720px;
			}

		}
	}

	/* --------------------------------

	Single slide animation

	-------------------------------- */

	@include MQ(M) {
		.cd-hero-slider {

			.cd-full-width h2,
			.cd-full-width p,
			.cd-full-width ul li,
			.cd-full-width .cd-btn {
				opacity: 0;
				@include transform(translateX(100px));
			}

			.move-left .cd-full-width h2,
			.move-left .cd-full-width p,
			.move-left .cd-full-width ul li,
			.move-left .cd-full-width .cd-btn {
				opacity: 0;
				@include transform(translateX(-100px));
			}

			.selected .cd-full-width h2,
			.selected .cd-full-width p,
			.selected .cd-full-width ul li,
			.selected .cd-full-width .cd-btn {
				/* this is the visible slide */
				opacity: 1;
				@include transform(translateX(0));
			}

			li.is-moving .cd-full-width h2,
			li.is-moving .cd-full-width p,
			li.is-moving .cd-full-width ul li,
			li.is-moving .cd-full-width .cd-btn {
				/* this is the slide moving outside the viewport
				wait for the end of the transition on the li parent before set opacity to 0 and translate to 100px/-100px */
				@include transition(opacity 0s .5s, transform 0s .5s);
			}

			li.selected h2 {
				@include transition(opacity .4s .2s, transform .5s .2s);
			}

			li.selected p {
				@include transition(opacity .4s .3s, transform .5s .3s);
			}

			li.selected li {
				@include transition(opacity .4s .3s, transform .5s .3s);
			}

			li.selected .cd-btn {
				@include transition(opacity .4s .4s, transform .5s .4s, background-color .2s 0s);
			}
		}
	}

	/* --------------------------------

	Slider navigation

	-------------------------------- */

	.cd-slider-nav {
		width: 100%;
		bottom: 0;
		z-index: 2;
		text-align: center;
		height: $slider-nav-height;
		background-color: white;

		@include until($tablet) {
			overflow-x: scroll;
			overflow-y: hidden;
		}

		nav, ul, li, a {
			// height: 100%;
		}

		nav {
			display: inline-block;
			// overflow-x: scroll;
			position: relative;
		}

		@include MQ(M) {
			.cd-marker {
				position: absolute;
				bottom: 0;
				left: 0;
				height: 100%;
				@include transition(transform .2s, box-shadow .2s);

	            .triangle {
	                width: 0;
	                height: 0;
	                border-bottom: 20px solid white;
	                border-left: 40px solid transparent;
	                border-right: 40px solid transparent;
	                position: absolute;
	                top: -20px;
	                left: 50%;
	                right: 0;
	                bottom: 0;
					@include transform(translateX(-50%));
	            }

				&.item-2 {
					@include transform(translateX(100%));
				}

				&.item-3 {
					@include transform(translateX(200%));
				}

				&.item-4 {
					@include transform(translateX(300%));
				}

				&.item-5 {
					@include transform(translateX(400%));
				}

				&.item-6 {
					@include transform(translateX(500%));
				}
			}
		}

		ul {
			@include clearfix;
			background: white;
			white-space: nowrap;
		}

		li {
			display: inline-block;
		}

		a {
			display: block;
			position: relative;
	        background-position: center 1rem;
	        background-repeat: no-repeat;
	        display: flex;
	        align-items: flex-end;
	        justify-content: center;
	        background-size: 150px;
			@include transition(background-color .2s);

	    	@include until($tablet) {
				height: $slider-nav-height;
				width: 75px;
			    display: block;
	            background-size: 60px;
	            background-position: center 0.5rem;
	        }


	        div.slide-nav-title {
	            display: flex;
	            align-items: center;
				padding-top: 110px;
				white-space: pre-wrap;
	        	@include until($tablet) {
	                display: none;
	            }
	        }

	    	@include MQ(M) {
	            background-size: 100px;
	        }

	    	@include MQ(L) {
	            // background-size: 120px;
	        }

		}


		@include MQ(M) {

			.cd-marker,
			li {
	        	@include MQ(S) {
	                background-size: 120px;
	            }

	        	@include MQ(M) {
	                background-size: 120px;
	            }

	        	@include MQ(L) {
	                background-size: 200px;
	            }

				width: 70px;

		        @include from($tablet) {
					width: 120px;
		        }
		        @include from($desktop) {
					width: 170px;
		        }

			}

			a {
	            padding: 0.5rem;
			}
		}
	}

	&.vertical {
	    @include from($tablet) {
	        .cd-slider-nav {
	            position: absolute;
	            left: 0;
	            top: 0;
	            bottom: 0;
	            width: $slider-nav-width-vertical;
	            height: $intro-height-L;
				overflow-y: scroll;

	        	.cd-marker {
	                display: none;
	        	}

	            ul  {
	                display: flex;
	                flex-direction: column;
	                align-items: stretch;
	                justify-content: space-between;

	                li
	                {
						@include until($tablet) {
		                    height: $slider-nav-height;
						}

	                    a {
	                        background-size: 44px;
	                        font-size: 14px;

					        div.slide-nav-title {
					            display: flex;
					            align-items: center;
								padding-top: 60px;
					        	@include until($tablet) {
					                display: none;
					            }
					        }
	                    }
	                }
	            }
	        }
	    }
	}
}
